@charset "utf-8";
html {
	color:#8f8c88;
	background:#fff;
	font-family:"微软雅黑";
	/* y轴:滚动 */
	overflow-y:scroll;
	/*text-size-adjust:noen/100%;关闭字体大小自动调整功能*/
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	/*
		快速滚动和回弹的缓冲效果
	 */
	-webkit-overflow-scrolling:touch;
}
body{
	font-size:16px;
}
html,body{
	overflow-x: hidden;
}
html * {
	outline:0;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
/* 在webkit下面的 默认最小的font-size是12 ，我们需要小于12px的字体大小 */
html,body {
	font-family:sans-serif
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;
	padding:0
}
fieldset,img {
	border:0;
}
img{
	display: block;
	width:100%;
}
ol,ul,li {
	list-style:none
}
a:hover {
	text-decoration:none;
}
/*移动端消除a的默认点击自动出现的边框和背景*/
a{
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
	outline:none;
}
ins,a {
	text-decoration:none
}

